* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    color: #213547;
}
button {
    padding: 0.6rem 3rem;
    margin-top: 1rem;
    font-weight: 600;
    color: aliceblue;
    border: none;
    outline: none;
}
.container {
    display: flex;
    flex-direction: column;
    padding-top: 12rem;
}
.sign-btn {
    background-color: rgb(73, 99, 160);
    margin-right: 5px;
}
.log-btn {
    background-color: rgb(45, 137, 112);
}
@media screen and (max-width: 992px) {
    body {
      font-size: 11px;
    }
  }